{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Restore Youtube</title>
        <!-- inclua seus estilos e scripts aqui -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Meu Projeto</a>
        <form class="form-inline ml-auto" action="{% url 'search_videos' %}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" name="q">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <!-- inclua seus scripts aqui -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
