{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="random-video">
            <div class="random-video-wallpaper">
                <img src="{{ channel.bannerUrl }}" alt="wallpaper" class="channel-wallpaper-image">
            </div>
</div>

<div class="container">
    <div class="direita"> <!-- Mantém a barra de pesquisa no canto direito -->
        <form class="form-inline" action="{% url 'search_videos' %}" method="get">
            <div class="search-box">
                <input type="text" class="input-search" placeholder="Pesquisar Vídeos" name="q">
            </div>
        </form>
    </div>
</div>

<div class="my-container dragscroll">
    <img src="{{ channel.avatarUrl }}" class="channel-icon-largest">
    <p class="channel-title-largest">
        {{ channel.name }}
        <span class="material-symbols-outlined large-title-check">
            verified
        </span>
    </p>
    <p class="channel-description">{{ channel.description }}</p>
    <br>
    <h3>Vídeos</h3>
    <br>
    <div class="episode-grid">
        {% for video in videos %}
            <a draggable="false" href="{% url 'video_player' video.video_id video.channel_id %}">
                <div class="episode-list-thumbnail">
                
                        <img draggable="false" src="{{ video.thumbnail }}" alt="Thumbnail" class="episode-image">

                    <br>
                    <p class="episode-title"><b>{{ video.title }}</b></p>
                    <p class="episode-channel-title">
                        
                    </p>
                    <p class="duration">
                        {{ video.duration_formatted }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
