{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand custom-navbar custom-shadow">
    <div class="container">
        
        <a href="{% url 'lista_videos' %}">
            <img src="{% static 'logo.png' %}" class="logo" alt="Logo">
        </a>

        <div class="ml-auto"> <!-- Mantém a barra de pesquisa no canto direito -->
            <form class="form-inline" action="{% url 'search_videos' %}" method="get">         
                <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Pesquisar" aria-label="Pesquisar" name="q">
            </form>
        </div>
    </div>
</nav>

<div id="a" style="width: 100%;">
    <!-- Custom Video Player -->
    <div class="custom-video-player">
        <iframe width="100%" height="590px" src="{{ url }}" frameborder="0" allowfullscreen id="video-frame"></iframe>
    </div>
</div>

<script>
    // Assuming you have an iframe with id 'video-frame'
    var videoIframe = document.getElementById('video-frame');

    // Check if the iframe exists
    if (videoIframe) {
        // Remove the href property from the iframe
        videoIframe.removeAttribute('href');
    }

</script>

{% endblock %}
