{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="direita"> <!-- Mantém a barra de pesquisa no canto direito -->
        <form class="form-inline" action="{% url 'search_videos' %}" method="get">
            <div class="search-box">
                <input type="text" class="input-search" placeholder="Pesquisar Vídeos" name="q">
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="my-container">
    <div class="episode-grid">
        {% for video in videos %}
                <a draggable="false" href="{% url 'video_player' video.video_id video.channel_id %}">
                    <div class="episode-list-thumbnail">
                       
                        <img draggable="false" src="{{ video.thumbnail }}" alt="Thumbnail" class="episode-image">
                       
                        <br>
                        <p class="episode-title"><b>{{ video.title }}</b></p>
                        <p class="episode-channel-title">
                            
                        </p>
                        <p class="duration">
                            {{ video.duration_formatted }}
                        </p>
                    </div>
                </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
