{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="direita"> <!-- Mantém a barra de pesquisa no canto direito -->
        <form class="form-inline" action="{% url 'search_videos' %}" method="get">
            <div class="search-box">
                <input type="text" class="input-search" placeholder="Pesquisar Vídeos" name="q">
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="my-container">
    <div class="episode-grid">
        {% for video in videos %}
                <a draggable="false" href="{% url 'video_player' video.id %}">
                    <div class="episode-list-thumbnail">
                        {% if video.watched == True %}
                            <label class="watched-mark">Assistido</label>
                            <img draggable="false" src="{{ video.thumbnail }}" alt="Thumbnail" class="episode-image grayscale-img">
                        {% elif video.watched == False %}
                            <img draggable="false" src="{{ video.thumbnail }}" alt="Thumbnail" class="episode-image">
                        {% endif %}
                        <br>
                        <p class="episode-title"><b>{{ video.title }}</b></p>
                        <p class="episode-channel-title">
                            <img draggable="false" src="{{ video.channel.logo }}" class="channel-icon">
                            {{ video.channel.title }}
                            <span class="material-symbols-outlined">
                                verified
                            </span>
                        </p>
                    </div>
                </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
