{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="video-grid">
        {% for video in videos %}
            {% with video_id=video.id.videoId %}
                <div class="video-card">
                    <a href="{% url 'video_player' video_id=video_id %}" class="card-link">
                        <div class="video-thumbnail">
                            <img src="{{ video.snippet.thumbnails.medium.url }}" alt="Thumbnail">
                        </div>
                        <div class="video-info">
                            <h2 class="video-title">{{ video.snippet.title }}</h2>
                    </a>
                        <div class="channel-info">
                            <div class="channel-details">
                                <p class="channel-title">{{ video.snippet.channelTitle }}</p>
                                <p class="video-published">{{ video.snippet.publishedAt|date:"F d, Y" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
