{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand custom-navbar custom-shadow">
    <div class="container">
        <!-- Botão de Voltar -->
        <a href="javascript:history.back()" class="btn btn-dark text-white back-button">
            Voltar
        </a>

        <div class="d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle" style="left: 50%; transform: translate(-50%, -50%); top: 50%;">
            <a id="page-title">
                {{ titulo }}
            </a>
        </div>
        <div class="ml-auto"> <!-- Mantém a barra de pesquisa no canto direito -->
            <form class="form-inline" action="{% url 'search_videos' %}" method="get">         
                <input class="form-control rounded-pill mr-sm-2" type="search" placeholder="YouTube" aria-label="Pesquisar" name="q">
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-8">
        <!-- Custom Video Player -->
        <div class="custom-video-player">
            <iframe width="700" height="500" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
        </div>

        <!-- Video Details -->
        <br>
        <h2>{{ title }}</h2>
        <div>
            <p>{{ video.channel }}</p>
            <p>{{ video.description }}</p>
        </div>
    </div>

    <div class="col-md-3">
        <!-- List of Similar Videos -->
        <br>
        <div class="card-list">
            {% for similar_video in similar_videos %}
            <div class="video-card">
                <a href="{% url 'video_player' similar_video.id %}" class="card-link">
                    <div class="video-thumbnail">
                        <img src="{{ similar_video.thumbnail }}" alt="Thumbnail">
                    </div>
                </a>
                <div class="video-info">
                    <h3 class="video-title">{{ similar_video.title }}</h3>
                    <div class="channel-info">
                        <div class="channel-details">
                            <p class="channel-title">{{ similar_video.channel }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
