{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'lista_videos' %}" class="esquerda">
        <img src="{% static 'logo.png' %}" class="logo" alt="Logo">
    </a>
    <div class="direita"> <!-- Mantém a barra de pesquisa no canto direito -->
        <form class="form-inline" action="{% url 'search_videos' %}" method="get">
            <div class="search-box">
                <input type="text" class="input-search" placeholder="Pesquisar">
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="my-container">
    <h2>Resultado da Pesquisa "{{ query }}"</h2>
    <br>
    <div class="video-grid-search" id="video-grid">
        {% for content in content %}
            <div class="video-card">
                {% if content.get_class_name == "Show" %}
                    <a href="{% url 'show_page' content.id %}" class="card-link">
                {% else %}
                    <a href="{% url 'video_player' content.id %}" class="card-link">
                {% endif %}
                    <div class="video-list-thumbnail">
                        <img src="{{ content.thumbnail }}" alt="Thumbnail">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

