{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="random-video">
            <div class="random-video-wallpaper">
                <img src="{{ show.wallpaper }}" alt="wallpaper" class="wallpaper-image">
                <div class="text-overlay">
                    <img draggable="false" src="{{ show.logo }}" alt="logo" class="logo-image">
                </div>
                <div class="rating">
                    <p>
                        <span class="material-symbols-outlined">
                        thumb_up
                        </span>
                        {{ show.rating }}%
                    </p>
                </div>
                <div class="description">
                    <p>{{ show.description }}</p>
                </div>
            </div>
</div>

<div class="container">
    <div class="direita"> <!-- Mantém a barra de pesquisa no canto direito -->
        <form class="form-inline" action="{% url 'search_movies' %}" method="get">
            <div class="search-box">
                <input type="text" class="input-search" placeholder="Pesquisar Filmes e Séries" name="q">
            </div>
        </form>
    </div>
</div>

<div class="my-container dragscroll">
    <br>
    <h3>Episódios</h3>
    <br>
    <div class="episode-grid">
        {% for episode in episodes %}
                <a draggable="false" href="{% url 'episode_player' episode.id %}">
                    <div class="episode-list-thumbnail">
                        <img draggable="false" src="{{ episode.thumbnail }}" alt="Thumbnail" class="episode-image">
                        <br>
                        <p class="episode-title"><b>{{ episode.title }}</b></p>
                        <br>
                    </div>
                </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
